---
services:
  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:2.3.0@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
    container_name: prowlarr
    hostname: prowlarr
    environment:
      - PGID=1000
      - PUID=1000
      - TZ=Europe/Berlin
      - UMASK_SET=022
    volumes:
      - backup:/backups
      - /docker/config/prowlarr:/config
    labels:
      - "de.panzer1119.docker.volume.default.cifs.host=op://Docker/Prowlarr/CIFS/Host"
      - "de.panzer1119.docker.volume.default.cifs.username=op://Docker/Prowlarr/CIFS/Username"
      - "de.panzer1119.docker.volume.default.cifs.password=op://Docker/Prowlarr/CIFS/Password"
      - "de.panzer1119.docker.volume.prowlarr_backup.cifs.share=op://Docker/Prowlarr/CIFS/Share_Backup"
    network_mode: bridge
    ports:
      - "9696:9696"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

volumes:
  backup:
    name: prowlarr_backup
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
