---
services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.5@sha256:4f4e5f759aa3a9a64305e99188ea1db1ec2944a5e7d290d2b089af5f2f6f48e4
    container_name: flaresolverr
    hostname: flaresolverr
    environment:
#      - LOG_LEVEL=info
#      - LOG_HTML=false
#      - CAPTCHA_SOLVER=none
      - TZ=Europe/Berlin
#      - LANG=en_US
    network_mode: bridge
    ports:
      - "8191:8191"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
