---
services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.4@sha256:06c76759d062c185d8ac0b48f302258645b8d99db86109a3d6dce3209d93de51
    container_name: flaresolverr
    hostname: flaresolverr
    environment:
#      - LOG_LEVEL=info
#      - LOG_HTML=false
#      - CAPTCHA_SOLVER=none
      - TZ=Europe/Berlin
#      - LANG=en_US
    network_mode: bridge
    ports:
      - "8191:8191"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
