---
name: immich

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.3.1@sha256:f8d06a32b1b2a81053d78e40bf8e35236b9faefb5c3903ce9ca8712c9ed78445
    container_name: immich_server
    depends_on:
      - redis
      - database
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    env_file:
      - immich.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - upload:/usr/src/app/upload
      - nsfw:/mnt/media/nsfw:ro
    labels:
      - "de.panzer1119.docker.volume.default.cifs.host=op://Docker/Immich/CIFS/Host"
      - "de.panzer1119.docker.volume.default.cifs.username=op://Docker/Immich/CIFS/Username"
      - "de.panzer1119.docker.volume.default.cifs.password=op://Docker/Immich/CIFS/Password"
      - "de.panzer1119.docker.volume.immich_upload.cifs.share=op://Docker/Immich/CIFS/Share_Upload"
      - "de.panzer1119.docker.volume.immich_nsfw.cifs.share=op://Docker/Immich/CIFS/Share_NSFW"
    ports:
      - '2283:2283'
    healthcheck:
      disable: false
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  immich-machine-learning:
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:v2.3.1@sha256:379e31b8c75107b0af8141904baa8cc933d7454b88fdb204265ef11749d7d908
    container_name: immich_machine_learning
    # extends: # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
    #   file: hwaccel.ml.yml
    #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    env_file:
      - immich.env
    volumes:
      - model-cache:/cache
    healthcheck:
      disable: false
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  redis:
    image: docker.io/redis:6.2-alpine@sha256:37e002448575b32a599109664107e374c8709546905c372a34d64919043b9ceb
    container_name: immich_redis
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0@sha256:c570d9e1c2494f65d2a0a379a7f6df66e8441964254a30aa62cc58e8ebf1dee0
    container_name: immich_postgres
    env_file:
      - database.env
    volumes:
      - /docker/data/immich/postgres:/var/lib/postgresql/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  power-tools:
    image: ghcr.io/varun-raj/immich-power-tools:0.19.0@sha256:2abdc8a73cd7438006e16f7a9b50f51ca6806332f8855404375e8bbdd5b024f7
    container_name: immich_power_tools
    depends_on:
      - immich-server
      - database
    env_file:
      - power-tools.env
    ports:
      - "8132:3000"
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

volumes:
  model-cache:
  upload:
    name: immich_upload
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  nsfw:
    name: immich_nsfw
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
