---
services:
  web:
    image: ghcr.io/analogj/scrutiny:v0.8.6-web@sha256:9eadf87322a7826924a835c9bf5632d52bc2d8d1576f04749eda627da3898518
    container_name: scrutiny-web
    hostname: scrutiny-web
    env_file:
      - scrutiny-web.env
    volumes:
      - /docker/config/scrutiny/web:/opt/scrutiny/config
    network_mode: bridge
    ports:
      - "8076:8080"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
