---
services:
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.3@sha256:57ad9565bff3bdf2378ab1dcc21ea649dfd68ee58e0eeca2bfba0120a26563e8
    container_name: paperless-ngx
    hostname: paperless-ngx
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
    env_file: paperless-ngx.env
    volumes:
      - /docker/data/paperless-ngx/data:/usr/src/paperless/data
      - /docker/data/paperless-ngx/media:/usr/src/paperless/media
      - /docker/data/paperless-ngx/export:/usr/src/paperless/export
      - /docker/cache/paperless-ngx/consume:/usr/src/paperless/consume
      - consume-tn-main-1:/usr/src/paperless/consume/tn-main-1
      - "${PWD}/scripts:/scripts:ro" #FIXME "PWD" might not work in all environments
    labels:
      - "de.panzer1119.docker.volume.default.cifs.host=op://Docker/Paperless/CIFS/Host"
      - "de.panzer1119.docker.volume.default.cifs.username=op://Docker/Paperless/CIFS/Username"
      - "de.panzer1119.docker.volume.default.cifs.password=op://Docker/Paperless/CIFS/Password"
      - "de.panzer1119.docker.volume.paperless-ngx_consume_tn-main-1.cifs.share=op://Docker/Paperless/CIFS/Share_Consume"
    ports:
      - "8217:8000"
    healthcheck:
      test: [ "CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  db:
    image: postgres:16@sha256:f992505e18f114c1e5102ac4dcf00f791b44462f6a423d899320f0bbf80e386f
    env_file: db.env
    volumes:
      - /docker/data/paperless-ngx/postgres:/var/lib/postgresql/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  broker:
    image: redis:7@sha256:f6f58ac6355513c91d7b4d4f3b60b60cfead6ebb94c52643c0135ba5079a28f7
    volumes:
      - /docker/cache/paperless-ngx/broker:/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  gotenberg:
    image: gotenberg/gotenberg:8.25@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  tika:
    image: apache/tika:2.9.2.1@sha256:2be134745fcb59826c54041489946c66218b948ea0c0be3a37cb7919ecc845ba
#    image: apache/tika:2.9.2.1-full
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  paperless-ai:
    image: clusterzx/paperless-ai:3.0.9@sha256:2b65888163fd59716f1c8285b31c5bd0b30c9c3c192c42b516688e3887d4ba60
    container_name: paperless-ai
    hostname: paperless-ai
    depends_on:
      - webserver
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges=true
    env_file:
      - paperless-ai.env
    volumes:
      - /docker/data/paperless-ngx/paperless-ai:/app/data
    ports:
      - "3467:3000"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

volumes:
  consume-tn-main-1:
    name: paperless-ngx_consume_tn-main-1
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
