---
services:
  tubearchivist:
    image: bbilly1/tubearchivist:v0.5.9@sha256:b827a713f55b2b1933f8b130f36dc8b38cec3dd56998c389b7c9694a7238f3df
    container_name: tubearchivist
    hostname: tubearchivist
    depends_on:
      - archivist-es
      - archivist-redis
    env_file:
      - tubearchivist.env
    volumes:
      - media:/youtube
      - /docker/cache/tubearchivist:/cache
      - /data/tubearchivist:/cache/download
    labels:
      - "de.panzer1119.docker.volume.default.cifs.host=op://Docker/TubeArchivist/CIFS/Host"
      - "de.panzer1119.docker.volume.default.cifs.username=op://Docker/TubeArchivist/CIFS/Username"
      - "de.panzer1119.docker.volume.default.cifs.password=op://Docker/TubeArchivist/CIFS/Password"
      - "de.panzer1119.docker.volume.tubearchivist_media.cifs.share=op://Docker/TubeArchivist/CIFS/Share_Media"
    ports:
      - "8376:8000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/health" ]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  archivist-redis:
    image: redis:8@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
    container_name: archivist-redis
    depends_on:
      - archivist-es
    expose:
      - "6379"
    volumes:
      - /docker/data/tubearchivist/redis:/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  archivist-es:
    # only for amd64, or use official es 8.18.2
    image: bbilly1/tubearchivist-es:8.19.0@sha256:9da63fb1973ec3d57daf6916be948eddd0d8a404cc8e447c938480c85fe2c554
    container_name: archivist-es
    env_file:
      - elasticsearch.env
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "xpack.security.enabled=true"
      - "discovery.type=single-node"
      - "path.repo=/usr/share/elasticsearch/data/snapshot"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      # check for permission error when using bind mount, see readme
      - /docker/data/tubearchivist/elasticsearch:/usr/share/elasticsearch/data
    expose:
      - "9200"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

volumes:
  media:
    name: tubearchivist_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
