---
name: mediamanager

services:
  mediamanager:
    image: ghcr.io/maxdorninger/mediamanager/mediamanager:1.12@sha256:6092302f2f6b3ba931eae5c5f9164d43bcfd61c28b46c11477270328e92f1aa8
    container_name: mediamanager
    hostname: mediamanager
    depends_on:
      db:
        condition: service_healthy
    env_file: mediamanager.env
    volumes:
      # Config folder for application configuration
      - ./config:/app/config/
      #- /docker/config/mediamanager:/app/config/
      # Image folder
      - /docker/cache/mediamanager:/data/images/
      # Download clients
      - /data/mediamanager:/data/torrents
      #- /data/usenet:/data/torrents/usenet
      #- /data/torrents:/data/torrents/torrents
      # Mount your actual media directories here - these paths should match your config.toml
      #      - ./data/:/data/  # Example: change ./data/ to your actual media root
      - media_movies:/data/movies
      - media_tv:/data/tv
      # Radarr media folders
      - radarr_media:/data/media/radarr:ro
      - radarr_media-4k:/data/media/radarr-4k:ro
      - radarr_media-anime:/data/media/radarr-anime:ro
      # Sonarr media folders
      - sonarr_media:/data/media/sonarr:ro
      - sonarr_media-4k:/data/media/sonarr-4k:ro
      - sonarr_media-anime:/data/media/sonarr-anime:ro
    labels:
      # CIFS Credentials
      - "de.panzer1119.docker.volume.default.cifs.host=op://Docker/MediaManager/CIFS/Host"
      - "de.panzer1119.docker.volume.default.cifs.username=op://Docker/MediaManager/CIFS/Username"
      - "de.panzer1119.docker.volume.default.cifs.password=op://Docker/MediaManager/CIFS/Password"
      # MediaManager Volumes
      - "de.panzer1119.docker.volume.mediamanager_media_movies.cifs.share=op://Docker/MediaManager/CIFS/Share_Media_Movies"
      - "de.panzer1119.docker.volume.mediamanager_media_tv.cifs.share=op://Docker/MediaManager/CIFS/Share_Media_TV"
      # Radarr Volumes
      ## Standard
      - "de.panzer1119.docker.volume.radarr_backup.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Backup"
      - "de.panzer1119.docker.volume.radarr_media.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Media"
      - "de.panzer1119.docker.volume.radarr_trash.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Trash"
      ## 4K
      - "de.panzer1119.docker.volume.radarr-4k_backup.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Backup_4K"
      - "de.panzer1119.docker.volume.radarr-4k_media.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Media_4K"
      - "de.panzer1119.docker.volume.radarr-4k_trash.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Trash_4K"
      ## Anime
      - "de.panzer1119.docker.volume.radarr-anime_backup.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Backup_Anime"
      - "de.panzer1119.docker.volume.radarr-anime_media.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Media_Anime"
      - "de.panzer1119.docker.volume.radarr-anime_trash.cifs.share=op://Docker/MediaManager/CIFS/Share_Radarr_Trash_Anime"
      # Sonarr Volumes
      ## Standard
      - "de.panzer1119.docker.volume.sonarr_backup.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Backup"
      - "de.panzer1119.docker.volume.sonarr_media.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Media"
      - "de.panzer1119.docker.volume.sonarr_trash.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Trash"
      ## 4K
      - "de.panzer1119.docker.volume.sonarr-4k_backup.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Backup_4K"
      - "de.panzer1119.docker.volume.sonarr-4k_media.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Media_4K"
      - "de.panzer1119.docker.volume.sonarr-4k_trash.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Trash_4K"
      ## Anime
      - "de.panzer1119.docker.volume.sonarr-anime_backup.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Backup_Anime"
      - "de.panzer1119.docker.volume.sonarr-anime_media.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Media_Anime"
      - "de.panzer1119.docker.volume.sonarr-anime_trash.cifs.share=op://Docker/MediaManager/CIFS/Share_Sonarr_Trash_Anime"
    ports:
      - "8736:8000"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  db:
    image: postgres:17@sha256:7352e0c4d62bbac8aa69d95e40220a60967c4a19f9c4f65b4d118175f7ce9e3b
    env_file: db.env
    volumes:
      - /docker/data/mediamanager:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

volumes:
  media_movies:
    name: mediamanager_media_movies
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  media_tv:
    name: mediamanager_media_tv
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  radarr_media:
    name: radarr_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  radarr_media-4k:
    name: radarr-4k_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  radarr_media-anime:
    name: radarr-anime_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  sonarr_media:
    name: sonarr_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  sonarr_media-4k:
    name: sonarr-4k_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
  sonarr_media-anime:
    name: sonarr-anime_media
    # Because this is a cifs volume, and it needs credentials, it is created outside of this file
    external: true
...
