---
services:
  speedtest-tracker:
    image: ghcr.io/linuxserver/speedtest-tracker:version-v1.13.9@sha256:00f1b34ec10863d15ef5d3ea3b0bb10efbb64758a418ddbeee7ce25859b149c3
    container_name: speedtest-tracker
    hostname: speedtest-tracker
    depends_on:
      - db
      - cache
    env_file:
      - speedtest-tracker.env
    volumes:
      - /docker/config/speedtest-tracker:/config
    ports:
      - "8765:80"
    healthcheck:
      test: curl -fSs http://localhost:80/api/healthcheck || exit 1
      interval: 10s
      retries: 3
      start_period: 30s
      timeout: 10s
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  cache:
    image: redis:7.4-alpine@sha256:02f2cc4882f8bf87c79a220ac958f58c700bdec0dfb9b9ea61b62fb0e8f1bfcf
    command: redis-server --save 20 1 --loglevel warning --requirepass $${REDIS_PASSWORD}
    env_file:
      - cache.env
    volumes:
      - /docker/cache/speedtest-tracker/redis:/data
    #    expose:
    #      - '6379'
    #    ports:
    #      - '6379:6379'
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  db:
    image: postgres:15@sha256:dafc4d8e8369da730a5ee9a320a0f0b3c6aa516f41244689c4493a27dc84472d
    env_file:
      - db.env
    volumes:
      - /docker/data/speedtest-tracker/postgres:/var/lib/postgresql/data
    #    ports:
    #      - "5434:5432"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
