---
services:
  speedtest-tracker:
    image: ghcr.io/linuxserver/speedtest-tracker:version-v1.13.10@sha256:4023b3e993d3764efe41d65eb4d1be8d9ff2ad8d756eb71de35fe805882ff0b5
    container_name: speedtest-tracker
    hostname: speedtest-tracker
    depends_on:
      - db
      - cache
    env_file:
      - speedtest-tracker.env
    volumes:
      - /docker/config/speedtest-tracker:/config
    ports:
      - "8765:80"
    healthcheck:
      test: curl -fSs http://localhost:80/api/healthcheck || exit 1
      interval: 10s
      retries: 3
      start_period: 30s
      timeout: 10s
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  cache:
    image: redis:7.4-alpine@sha256:8b81dd37ff027bec4e516d41acfbe9fe2460070dc6d4a4570a2ac5b9d59df065
    command: redis-server --save 20 1 --loglevel warning --requirepass $${REDIS_PASSWORD}
    env_file:
      - cache.env
    volumes:
      - /docker/cache/speedtest-tracker/redis:/data
    #    expose:
    #      - '6379'
    #    ports:
    #      - '6379:6379'
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  db:
    image: postgres:15@sha256:866264fb97643e747f9d0981cd060114f83b49450e5bac4988324bb3c6af2fd7
    env_file:
      - db.env
    volumes:
      - /docker/data/speedtest-tracker/postgres:/var/lib/postgresql/data
    #    ports:
    #      - "5434:5432"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
