---
services:
  semaphore:
    image: semaphoreui/semaphore:v2.16.45@sha256:979a5924ed459d5169178197fc7b4d849bcb6fbb4aded1f1d1c0b279717b5187
    container_name: semaphore
    hostname: semaphore
    env_file:
      - semaphore.env
    ports:
      - "3001:3000"
    volumes:
      - /docker/config/semaphore:/etc/semaphore:rw
    depends_on:
      - postgres
      - tofu_backend
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  postgres:
    image: postgres:15@sha256:697ff70295146d53b702b07532fe68aaed7a5f10d04ff68edbeffd5fbacd15a5
    env_file:
      - db.env
    volumes:
      - /docker/data/semaphore:/var/lib/postgresql/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  tofu_backend:
    image: postgres:18@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    env_file:
      - tofu_backend.env
    volumes:
      - /docker/data/semaphore-tofu_backend:/var/lib/postgresql
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
