---
services:
  semaphore:
    image: semaphoreui/semaphore:v2.16.51@sha256:316520f513e3c964d23cdd40709777a6a452e275020627aba406e9bd9c08adde
    container_name: semaphore
    hostname: semaphore
    env_file:
      - semaphore.env
    ports:
      - "3001:3000"
    volumes:
      - /docker/config/semaphore:/etc/semaphore:rw
    depends_on:
      - postgres
      - tofu_backend
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  postgres:
    image: postgres:15@sha256:98fe06b500b5eb29e45bf8c073eb0ca399790ce17b1d586448edc4203627d342
    env_file:
      - db.env
    volumes:
      - /docker/data/semaphore:/var/lib/postgresql/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  tofu_backend:
    image: postgres:18@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
    env_file:
      - tofu_backend.env
    volumes:
      - /docker/data/semaphore-tofu_backend:/var/lib/postgresql
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
