---
services:
  semaphore:
    image: semaphoreui/semaphore:v2.16.47@sha256:71aabf9314d1051ab92025f26809daea72bd90cb78a6a2badfe15400acf11619
    container_name: semaphore
    hostname: semaphore
    env_file:
      - semaphore.env
    ports:
      - "3001:3000"
    volumes:
      - /docker/config/semaphore:/etc/semaphore:rw
    depends_on:
      - postgres
      - tofu_backend
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  postgres:
    image: postgres:15@sha256:52200c2c396e1e4d773177b1dbe936f4c9503516abe8a65d1af2feb6ca35738f
    env_file:
      - db.env
    volumes:
      - /docker/data/semaphore:/var/lib/postgresql/data
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf

  tofu_backend:
    image: postgres:18@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    env_file:
      - tofu_backend.env
    volumes:
      - /docker/data/semaphore-tofu_backend:/var/lib/postgresql
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
