---
services:
  overseerr:
    image: ghcr.io/linuxserver/overseerr:version-v1.34.0@sha256:19fe26c92c48136136478790725d680cedfae0bf9cb0f25c6a44ab3008ad6e6a
    container_name: overseerr
    hostname: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/Berlin
      - PGID=1000
      - PUID=1000
    volumes:
      - /docker/config/overseerr:/config
    network_mode: bridge
    ports:
      - "5055:5055"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
