---
services:
  overseerr:
    image: ghcr.io/linuxserver/overseerr:version-v1.34.0@sha256:feddc11664639721d4e220d161ce5eb8fd2483d2e252e3e119570abcce3c7474
    container_name: overseerr
    hostname: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/Berlin
      - PGID=1000
      - PUID=1000
    volumes:
      - /docker/config/overseerr:/config
    network_mode: bridge
    ports:
      - "5055:5055"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
