---
services:
  overseerr:
    image: ghcr.io/linuxserver/overseerr:version-v1.35.0@sha256:6108ed066d4a919c05251d9dab041c1e55e67ff7247e7b31be97b65ffcbaeeb1
    container_name: overseerr
    hostname: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/Berlin
      - PGID=1000
      - PUID=1000
    volumes:
      - /docker/config/overseerr:/config
    network_mode: bridge
    ports:
      - "5055:5055"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
