---
services:
  overseerr:
    image: ghcr.io/linuxserver/overseerr:version-v1.34.0@sha256:ad4c6a173bc0f5e1ff9bfa4169fe232fd6556796677d30daa455f6348093a3d5
    container_name: overseerr
    hostname: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/Berlin
      - PGID=1000
      - PUID=1000
    volumes:
      - /docker/config/overseerr:/config
    network_mode: bridge
    ports:
      - "5055:5055"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
