---
services:
  kometa:
    image: kometateam/kometa@sha256:46fc4bdd6f64dbd92655c6495d9f9d1a745845bd60fa13a7283755db48de8bc0
    container_name: kometa
    hostname: kometa
    env_file:
      - kometa.env
    volumes:
      - /docker/config/kometa:/config
      - "${PWD}/config/config.yml:/config/config.yml" #FIXME "PWD" might not work in all environments
    network_mode: bridge
    restart: no
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
