---
services:
  freecodecamp:
    image: ghcr.io/freecodecamp/devdocs:20251001@sha256:86882176373ea77d11373752b17411ee61950429eff52b756561f5fba89fed42
    container_name: devdocs
    hostname: devdocs
    network_mode: bridge
    ports:
      - "9292:9292"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
