---
volumes:
  config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/config/influxdb"
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/influxdb"

services:
  influxdb:
    image: influxdb:2.8.0@sha256:9e967a2283f54ecd401377f1ed677c882adc23dd4090fb5f0c7ebe98a8138a8a
    container_name: influxdb
    hostname: influxdb
    env_file: influxdb.env
    volumes:
      - config:/etc/influxdb2
      - data:/var/lib/influxdb2
    network_mode: bridge
    ports:
      - "8086:8086"
    restart: always
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
