---
volumes:
  config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/config/influxdb"
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/influxdb"

services:
  influxdb:
    image: influxdb:2.7.12@sha256:e6dc6a2a5c250167a6f0d0857aec9db97fbe1f52fe7058dc2fb242372145be50
    container_name: influxdb
    hostname: influxdb
    env_file: influxdb.env
    volumes:
      - config:/etc/influxdb2
      - data:/var/lib/influxdb2
    network_mode: bridge
    ports:
      - "8086:8086"
    restart: always
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
