---
volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/grafana"

services:
  grafana:
    image: grafana/grafana:12.3.1@sha256:adaf2d6b44c7e2b711b931b98be153778d313806582a24eab21178804fac2976
    container_name: grafana
    hostname: grafana
    env_file: grafana.env
    volumes:
      - data:/var/lib/grafana
    network_mode: bridge
    ports:
      - "3000:3000"
    dns:
      - 192.168.6.4
      - 1.1.1.1
    restart: always
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
