---
volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/grafana"

services:
  grafana:
    image: grafana/grafana:12.3.1@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    container_name: grafana
    hostname: grafana
    env_file: grafana.env
    volumes:
      - data:/var/lib/grafana
    network_mode: bridge
    ports:
      - "3000:3000"
    dns:
      - 192.168.6.4
      - 1.1.1.1
    restart: always
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
