---
volumes:
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/grafana"

services:
  grafana:
    image: grafana/grafana:12.3.4@sha256:c9d279370af2395775fc02b804e4d4aec7ca40e3211b00a4ff547189e2cf890e
    container_name: grafana
    hostname: grafana
    env_file: grafana.env
    volumes:
      - data:/var/lib/grafana
    network_mode: bridge
    ports:
      - "3000:3000"
    dns:
      - 192.168.6.4
      - 1.1.1.1
    restart: always
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
