---
services:
  adguardhome-sync:
    image: ghcr.io/linuxserver/adguardhome-sync:version-v0.8.2@sha256:bc7ccecf7c73ffb6e4f87636608c84341519222a64afa23d3480a9842cf991f3
    container_name: adguardhome-sync
    hostname: adguardhome-sync
    env_file:
      - adguardhome-sync.env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      #- CONFIGFILE=/config/adguardhome-sync.yaml #optional
    volumes:
      - /docker/config/adguardhome-sync:/config
    network_mode: bridge
    ports:
      - "8261:8080"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
