---
services:
  adguardhome-sync:
    image: ghcr.io/linuxserver/adguardhome-sync:version-v0.8.2@sha256:00feab1426cea08f64e990ffc70a10bf2e1fc83f5316ec42f9b0f382925e3e99
    container_name: adguardhome-sync
    hostname: adguardhome-sync
    env_file:
      - adguardhome-sync.env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      #- CONFIGFILE=/config/adguardhome-sync.yaml #optional
    volumes:
      - /docker/config/adguardhome-sync:/config
    network_mode: bridge
    ports:
      - "8261:8080"
    restart: unless-stopped
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
