---
volumes:
  #  monitoring:
  #    name: data/check-mk-raw
  #    driver: zfs
  ##    driver_opts:
  ##      - checksum=sha512
  ##      - dedup=verify
  monitoring:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/check-mk-raw"

services:
  check-mk-raw:
    image: checkmk/check-mk-raw:2.4.0-latest@sha256:e6027a39e0dff32520d28808252ee848e0cd713e36799e4e14a4a41a8aa2b66f
    container_name: check-mk-raw
    hostname: check-mk-raw
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "monitoring:/omd/sites"
    tmpfs:
      - "/opt/omd/sites/cmk/tmp:uid=1000,gid=1000"
    ports:
      - "8000:8000"
      - "8080:5000"
    network_mode: bridge
    restart: always
    extends:
      file: ../../common/docker-compose.yml
      service: logging-gelf
